@media (min-width: 100em) {
    #grid-galerie {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 5em;
    }
}

@media (max-width: 100em) {
    #grid-galerie {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    figure:nth-child(3n + 1),
    figure:nth-child(3n + 2) {
        grid-column: auto / span 2;
    }

    figure {
        grid-column: 2 / span 2;
    }
}

@media (min-width: 60em) {

}

@media (max-width: 60em) {
    #grid-galerie {
        display: flex;
        flex-direction: column;
    }
}

.page-padding {
    grid-template-areas: "header header header header"
                        "banner banner banner banner"
                        "zona1 zona1 zona1 zona1"
                        "footer footer footer footer";
}

#invisible_nav {
    grid-area: header;
}

#invisible_nav img {
    width: 6em;
    height: 6em;
}

#grid-galerie img {
    width: 100%;
}

#galerie-statica {
    grid-area: zona1;
}

#galerie-statica figure {
    min-height: 30vh;
    transition-duration: 0.5s;
}

#galerie-statica figure:hover {
    overflow: hidden;
    transform: scale(1.5) rotate(360deg);
    transition-duration: 1s;
    /*border-radius: 50%;*/
}

#galerie-statica figcaption {
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1em;
}

.produs {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    background-color: lightgray;
    border-radius: 1em;
    width: 90%;
    margin-top: 1em;
}

.produs h3 {
    text-align: center;
}

.produs-colums {
    display: flex;
    align-items: center;
}

.column {
    width: 50%;
    padding: 1rem;
}

#img-prod {
    height: 100%;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.column span {
    display: block;
}

.filtre{
    display: block;
}

#pop-up{
    border-width: 3px;
    border-color: darkgreen;
    background-color: lightgray;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    position: fixed;
    top: 20vh;
    left: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-size: 7px;
    font-weight: 500;
}
