<footer>

    <hr>

    <a href="#">Back to top</a>
    <address>
        <br>
        <a href="mailto:contact@bb4k-merch.com">contact@bb4k-merch.com</a><br>
        <a href="tel:+40111222333">(0040)111 222 333</a><br>
        Ne puteti gasi si la:<br>
        Splaiul Lalelelor<br>
        313B, Sector 6
    </address>
    <p><small>Copyright &copy;<time datetime="2021-10-10">2021</time>
            Nicolescu Robert</small></p>
</footer>