<form id="form_inreg"  method="post" class="date"  action="<%= locals.action %>"  enctype="multipart/form-data">
    <p>
        <label>
            Username: <input type="text" name="username" required id="inp-username" value="prof<%= Math.floor(Math.random()*100000) %>">
        </label>
    </p>
    <p>
        <label>
            Nume: <input type="text" required name="nume" id="inp-nume"  value="Gogulescu" >
        </label>
    </p>
    <p>
        <label>
            Prenume: <input type="text"  required name="prenume" id="inp-prenume" value="Gogu">
        </label>
    </p>
    <p>
        <label>
            Parola: <input id="parl" type="password" required  name="parola" value="">
            <a>Trebuie sa contina minim o litera mare, una mica si caracterul punct.</a>
        </label>
    </p>
    <p id="p-reintrod">
        <label >
            Reintroduceti parola: <input id="rparl" required type="password" name="rparola" value="">
        </label>
    </p>
    <p>
        <label>
            Email: <input type="text" name="email" id="inp-email" required value="profprofprof007@gmail.com"  size="50">
        </label>
    </p>
    <p>
        <label>
            Culoare text chat:
            <select name="culoareText" id="sel-culoare">
                <option value="dark" selected>Dark</option>
                <option value="light">Light</option>
                <option value="contrast">Contrast</option>
            </select>
        </label>
    </p>
    <p>
        <label>
            Problema de vedere: <input type="checkbox" name="problema_vedere">
        </label>
    </p>
    <p>
        <label>
            Poza: <input type="file" name="poza" accept=".png,.jpeg,.webp">
        </label>			
    </p>
    <p>		
        <input type="submit" value="Trimite">
        <input type="reset" value="Reseteaza">
    </p>
</form>