<header class="header">
    <a href="/home"><img src="../media/LOGO_Original_4.png" alt="Bb4k-logo"></a>
    <nav>
        <!--                <div>-->
        <input class="menu-btn" type="checkbox" id="menu-btn"/>
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <!--                </div>-->
        <ul class="menu">
            <li class="btn-impar"><a href="../">Acasa</a></li>
            <li class="btn-par"><a href="produse">Produse</a>
                <ul class="dropdown">
                    <li class="btn-par"><a href="produse?categorie=0">Caciuli</a></li>
                    <li class="btn-par"><a href="produse?categorie=1">Geci</a></li>
                    <li class="btn-par"><a href="produse?categorie=2">Hanorace</a></li>
                    <li class="btn-par"><a href="produse?categorie=3">Masti</a></li>
                    <li class="btn-par"><a href="produse?categorie=4">Pantaloni</a></li>
                    <li class="btn-par"><a href="produse?categorie=5">Papuci</a></li>
                </ul>
            </li>
            <li class="btn-impar"><a href="despre-noi">Despre noi</a></li>
            <li class="btn-par"><a href="FAQ-index">Intrebari frecvente</a></li>
            <% if(!locals.utilizator){%>
            <li class="btn-impar"><a href="inregistrare">Inregistrare</a></li>
            <li class="login">
                <form id="login" method="post" action="/login">
                    <label>User:<input type="text" name="username" value="Costica" ></label>
                    <label>Parola:<input type="password" name="parola" value=""></label>
                    <input type="submit" value="login">
                </form>
            </li>
            <% } else { %>
                <li><a href="/profil" id="tab-user">Utilizator <%- locals.utilizator.username %></a></li>
                <li><a href="/logout">Logout</a></li>

                <% if (locals.utilizator && locals.utilizator.rol === "admin") { %>
                    <li><a href="/useri">Utilizatori</a></li>
                <% } %>
            <li><a href="/cos-virtual">Cos virtual</a></li>
            <% } %>
            <li><a href="/contact">Contact</a></li>
            <li class="btn-par"><a href="">Acte legale</a>
                <ul class="dropdown">
                    <li class="btn-par"><a href="/terms">Termeni si conditii</a></li>
                    <li class="btn-par"><a href="/gdpr">GDPR</a></li>
                </ul>
            </li>
        </ul>

    </nav>
</header>