<!DOCTYPE html>
<html lang="ro">
<head>

    <meta name="description" content="Aceasta pagina nu exista. Mai incearca.">
    <%- include("../fragmente/head.ejs") %>

    <title>Bb4k | 404</title>

<body>
<div class="container">
    <div class="page-padding">
        <%- include("../fragmente/header.ejs") %>

        <div class="error">
            <a href="https://www.vecteezy.com/free-vector/icons"><img class="error-pic" src="media/404.png" alt="poza-prezentare"></a>
        </div>

        <%- include("../fragmente/footer.ejs") %>
    </div>
</div>

</body>
</html>