<!DOCTYPE html>
<html lang="ro">
<head>
    <title>Cont verificat</title>
    <%- include("../fragmente/head") %>
</head>
<div class="container">

<!--    <%- include("../fragmente/back-to-top-button.ejs") %>-->

    <div class="page-padding">
        <%- include("../fragmente/header.ejs") %>
        <main style="margin-top: 30%">
            <h1>Confirmare mail</h1>
            <p>Totul a functionat bine!</p>
        </main>

        <%- include("../fragmente/footer") %>

    </div>
</div>
</html>