<!DOCTYPE html>
<html lang="ro">
<head>
    <%- include("../fragmente/head.ejs") %>

    <meta name="description" content="Hanorace, caciuli, tricouri, masti de sezon, avem tot ce-ti trebuie.">
    <meta name="keywords" content="Bb4k, bb4k, ciucas, 12c baietii, merch">
    <title>Bb4k | FAQ</title>

</head>

<body>
<div class="container">

    <%- include("../fragmente/back-to-top-button.ejs") %>

    <div class="page-padding">

        <%- include("../fragmente/header.ejs") %>

        <div class="content">
            <section id="faq-section">
                <h2>Intrebari Frecvente</h2>
                <ul>
                    <li><h3>Chiar livrati produsele, daca le comandam?</h3>
                        <p>Chiar da. In general am incerca sa strangem sa facem o comanda bulk, pentru a scuti
                            transportul,
                            dar site-ul chiar este functional.</p>
                    <li><h3>Care este timpul de livrare?</h3>
                        <p>La finalul saptamanii curente se strang comenzile plasate si se efectueaza. Deci in 2-5 zile
                            de lunea viitoare.</p>
                    <li><h3>De la ce vine Bb4k?</h3>
                        <p>Acesta este un secret de stat si trebuie tratat ca atare.</p>
                    </li>
                    <li><h3>Pe ce data e ziua Bb4k?</h3>
                        <p>22 feb 2018.</p>
                    <li><h3>Ce trebuie sa fac pentru a intra in grup?</h3>
                        <p>Sa fi fost coleg de clasa cu noi in liceu, sau sa fii extrem de apropiat de majoritatea
                            baietilor din grup
                            si totodata mai implicat decat multi dintre noi. Exemplu: Lazar, membru proaspat, era
                            mai
                            hotarat/entuziasmat de plecarea in Amsterdam decat jumatate dintre membri.</p>
                </ul>
            </section>

        </div>



        <%- include("../fragmente/footer.ejs") %>

    </div>
</div>

</body>
</html>