<!DOCTYPE html>
<html lang="ro">
<head>
    <%- include("../fragmente/head.ejs") %>
    <link rel="stylesheet" href="/resources/galerie-animata.css">
    <link rel="stylesheet" href="/resources/style_produse.css">
    <meta name="description"
          content="Imbraca-te de sezon cu marca ta favorita Bb4k: hanorace, caciuli, tricouri, masti.">
    <meta name="keywords" content="Hanorace, caciuli, tricouri, masti, pantaloni, geci">
    <title>Bb4k</title>

</head>

<body>
<div class="container">

    <%- include("../fragmente/back-to-top-button.ejs") %>

    <div class="page-padding">

        <%- include("../fragmente/header.ejs") %>

        <main style="margin-top: 20%">

            <h1>Politică de Confidențialitate</h1>
            <h2>Generalități</h2></p>
            <p>Regulamentul 2016/679 privind protecţia persoanelor fizice &icirc;n ceea ce priveşte prelucrarea datelor
                cu caracter personal şi privind libera circulaţie a acestor date (General Data Protection Regulation,
                &icirc;n prezentul document &ndash; GDPR, Regulament sau RGPD) a fost adoptat de Parlamentul European și
                Consiliul Uniunii Europene &icirc;n 27 aprilie 2016, prevederile acestuia fiind direct aplicabile
                &icirc;ncep&acirc;nd cu data de 25 mai 2018. Acest Regulament abrogă, &icirc;n mod expres, Directiva
                95/46/CE, &icirc;nlocuind astfel și prevederile Legii nr. 677/2001 (&icirc;n prezent, abrogate).</p>
            <p>Regulamentul este direct aplicabil &icirc;n toate statele membre, protej&acirc;nd drepturile tuturor
                persoanelor fizice aflate pe teritoriul Uniunii Europene. Din punct de vedere material, Regulamentul se
                aplică tuturor operatorilor care prelucrează date cu caracter personal. Regulamentul nu se aplică
                prelucrării datelor cu caracter personal care privesc persoane juridice şi, &icirc;n special, &icirc;ntreprinderi
                cu personalitate juridică, inclusiv numele şi tipul de persoană juridică şi datele de contact ale
                persoanei juridice.</p>
            <p>Datele cu caracter personal sunt definite ca fiind orice informaţii privind o persoană fizică
                identificată sau identificabilă ("persoana vizată"); o persoană fizică identificabilă este o persoană
                care poate fi identificată, direct sau indirect, &icirc;n special prin referire la un element de
                identificare, cum ar fi un nume, un număr de identificare, date de localizare, un identificator online
                sau la unul sau mai multe elemente specifice, proprii identităţii sale fizice, fiziologice, genetice,
                psihice, economice, culturale sau sociale.</p>
            <p>Prelucrarea datelor cu caracter personal presupune orice operaţiune sau set de operaţiuni efectuate
                asupra datelor sau asupra seturilor de date cu caracter personal, cu sau fără utilizarea de mijloace
                automatizate, cum ar fi colectarea, &icirc;nregistrarea, organizarea, structurarea, stocarea, adaptarea
                sau modificarea, extragerea, consultarea, utilizarea, divulgarea prin transmitere, diseminarea sau
                punerea la dispoziţie &icirc;n orice alt mod, alinierea sau combinarea, restricţionarea, ştergerea sau
                distrugerea.</p>
            <p>
            <h2>Identitatea operatorului</h2></p>
            <p>Av&acirc;nd &icirc;n vedere articolul 4 punctul 7 din Regulament, care definește noțiunea de "operator"
                ca fiind persoana fizică sau juridică, autoritatea publică, agenţia sau alt organism care, singur sau
                &icirc;mpreună cu altele, stabileşte scopurile şi mijloacele de prelucrare a datelor cu caracter
                personal, operatorul care prelucrează date cu caracter personal prin intermediul acestui website este
                Bb4k, cu sediul &icirc;n Bucuresti, &icirc;nmatriculată la Oficiul Registrului Comerţului 69, av&acirc;nd
                CUI 69, reprezentată legal de Bb4k, cu date de contact , , .</p>
            <p>
            <h2>Colectarea datelor personale</h2>
            <h3>Care sunt datele cu caracter personal colectate</h3></p>
            <p>Operatorul acestui website colectează, stochează şi prelucrează următoarele date personale ale /
                referitoare la dvs.:</p>
            <ul>

                <li>Nume, prenume</li>
                <li>Adresa de domiciliu și/sau de reședință</li>
                <li>Date de contact (precum e-mail, telefon, fax)</li>
                <li>Imagini vizuale sau secvențe (fotografii, video)</li>
                <li>Date privind sănătatea</li>
                <li>Date privind viața sexuală și orientarea sexuală</li>
            </ul>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p>Av&acirc;nd &icirc;n vedere că Regulamentul interzice, &icirc;n principal, &ldquo;prelucrarea de date cu
                caracter personal care dezvăluie originea rasială sau etnică, opiniile politice, confesiunea religioasă
                sau convingerile filozofice sau apartenenţa la sindicate şi prelucrarea de date genetice, de date
                biometrice pentru identificarea unică a unei persoane fizice, de date privind sănătatea sau de date
                privind viaţa sexuală sau orientarea sexuală ale unei persoane fizice&rdquo; (conform art. 9 alin. 1),
                sunt stabilite apoi situațiile &icirc;n care este permisă prelucrarea unor astfel de date:</p>
            <ol style="list-style-type: lower-alpha;">
                <li>există consimțăm&acirc;ntul explicit al persoanei vizate;</li>
                <li>prelucrarea este necesară &icirc;n scopul &icirc;ndeplinirii obligaţiilor şi al exercitării unor
                    drepturi specifice ale operatorului sau ale persoanei vizate &icirc;n domeniul ocupării forţei de
                    muncă şi al securităţii sociale şi protecţiei sociale
                </li>
                <li>prelucrarea este necesară pentru protejarea intereselor vitale ale persoanei vizate sau ale unei
                    alte persoane fizice, atunci c&acirc;nd persoana vizată se află &icirc;n incapacitate fizică sau
                    juridică de a-şi da consimţăm&acirc;ntul;
                </li>
                <li>prelucrarea este efectuată &icirc;n cadrul activităţilor lor legitime şi cu garanţii adecvate de
                    către o fundaţie, o asociaţie sau orice alt organism fără scop lucrativ şi cu specific politic,
                    filozofic, religios sau sindical, cu condiţia ca prelucrarea să se refere numai la membrii sau la
                    foştii membri ai organismului respectiv sau la persoane cu care acesta are contacte permanente
                    &icirc;n legătură cu scopurile sale şi ca datele cu caracter personal să nu fie comunicate terţilor
                    fără consimţăm&acirc;ntul persoanelor vizate;
                </li>
                <li>prelucrarea se referă la date cu caracter personal care sunt făcute publice &icirc;n mod manifest de
                    către persoana vizată;
                </li>
                <li>prelucrarea este necesară pentru constatarea, exercitarea sau apărarea unui drept &icirc;n instanţă
                    sau ori de c&acirc;te ori instanţele acţionează &icirc;n exerciţiul funcţiei lor judiciare;
                </li>
                <li>prelucrarea este necesară din motive de interes public major, &icirc;n baza dreptului Uniunii sau a
                    dreptului intern, care este proporţional cu obiectivul urmărit, respectă esenţa dreptului la
                    protecţia datelor şi prevede măsuri corespunzătoare şi specifice pentru protejarea drepturilor
                    fundamentale şi a intereselor persoanei vizate;
                </li>
                <li>prelucrarea este necesară &icirc;n scopuri legate de medicina preventivă sau a muncii, de evaluarea
                    capacităţii de muncă a angajatului, de stabilirea unui diagnostic medical, de furnizarea de
                    asistenţă medicală sau socială sau a unui tratament medical sau de gestionarea sistemelor şi
                    serviciilor de sănătate sau de asistenţă socială, &icirc;n temeiul dreptului Uniunii sau al
                    dreptului intern sau &icirc;n temeiul unui contract &icirc;ncheiat cu un cadru medical şi sub
                    rezerva respectării condiţiilor şi garanţiilor prevăzute la alineatul (3);
                </li>
                <li>prelucrarea este necesară din motive de interes public &icirc;n domeniul sănătăţii publice, cum ar
                    fi protecţia &icirc;mpotriva ameninţărilor transfrontaliere grave la adresa sănătăţii sau asigurarea
                    de standarde ridicate de calitate şi siguranţă a asistenţei medicale şi a medicamentelor sau a
                    dispozitivelor medicale, &icirc;n temeiul dreptului Uniunii sau al dreptului intern, care prevede
                    măsuri adecvate şi specifice pentru protejarea drepturilor şi libertăţilor persoanei vizate, &icirc;n
                    special a secretului profesional; sau
                </li>
                <li>prelucrarea este necesară &icirc;n scopuri de arhivare &icirc;n interes public, &icirc;n scopuri de
                    cercetare ştiinţifică sau istorică ori &icirc;n scopuri statistic, proporţional cu obiectivul
                    urmărit, respect&acirc;nd esenţa dreptului la protecţia datelor şi prevede măsuri corespunzătoare şi
                    specifice pentru protejarea drepturilor fundamentale şi a intereselor persoanei vizate.
                </li>
            </ol>
            <p>
            <h2>Obținerea Consimțământului</h2>
            <h3>Generalități</h3></p>
            <p>Pentru ca prelucrarea datelor cu caracter personal să fie legală, GDPR prevede ca aceasta să fie
                efectuată &icirc;n baza unui motiv legitim, precum executarea sau &icirc;ncheierea unui contract,
                &icirc;ndeplinirea unei obligații legale, sau &icirc;n baza consimțăm&acirc;ntului valabil exprimat de
                persoana vizată &icirc;n prealabil. &Icirc;n acest din urmă caz, operatorului i se impune obligația de a
                putea demonstra faptul că persoana &icirc;n cauză și-a dat consimțăm&acirc;ntul pentru prelucrarea
                respectivă. Consimțăm&acirc;ntul exprimat sub imperiul Directivei 95/46/CE răm&acirc;ne valabil dacă
                acesta &icirc;ndeplinește condițiile prevăzute de GDPR.</p>
            <p>Acordarea consimțăm&acirc;ntului trebuie să fie realizată printr-o declarație sau printr-o acțiune
                neechivocă care să constituie o manifestare liber exprimată, specifică, &icirc;n cunoştinţă de cauză şi
                clară a acordului persoanei vizate pentru prelucrarea datelor sale cu caracter personal. &Icirc;n cazul
                &icirc;n care consimțăm&acirc;ntul persoanei vizate este dat &icirc;n contextul unei declarații, &icirc;n
                format electronic sau &icirc;n scris, care se referă și la alte aspecte, cererea privind consimțăm&acirc;ntul
                trebuie să fie prezentată &icirc;ntr-o formă care o diferențiază &icirc;n mod clar de celelalte aspecte,
                put&acirc;nd fi realizată chiar și prin bifarea unei căsuțe. Pentru ca prelucrarea datelor cu caracter
                personal să fie legală, GDPR prevede ca aceasta să fie efectuată &icirc;n baza unui motiv legitim,
                precum executarea sau &icirc;ncheierea unui contract, &icirc;ndeplinirea unei obligații legale, sau
                &icirc;n baza consimțăm&acirc;ntului valabil exprimat de persoana vizată &icirc;n prealabil. &Icirc;n
                acest din urmă caz, operatorului i se impune obligația de a putea demonstra faptul că persoana &icirc;n
                cauză și-a dat consimțăm&acirc;ntul pentru prelucrarea respectivă. Consimțăm&acirc;ntul exprimat sub
                imperiul Directivei 95/46/CE răm&acirc;ne valabil dacă acesta &icirc;ndeplinește condițiile prevăzute de
                GDPR.</p>
            <p>
            <h3>Cookies</h3></p>
            <p>Pe acest site se folosesc cookie-uri. Acestea nu dăunează computerului dvs. şi nu conţin viruşi, ci au
                rolul de a contribui la o utilizare mai facilă, eficientă şi sigură a site-ului. Ele reprezintă
                fişiere-texte de mici dimensiuni care sunt salvate pe computerul dvs. şi sunt salvate de browser-ul
                utilizat.</p>
            <p>Multe dintre cookie-urile folosite se numesc &bdquo;session cookies&rdquo;, care sunt şterse automat după
                vizita pe acest site. Altele răm&acirc;n &icirc;n memoria computerului dvs. p&acirc;nă la ştergerea
                acestora de către dvs., acestea făc&acirc;nd posibilă recunoaşterea browser-ului la o vizită
                ulterioară.</p>
            <p>Puteți configura browser-ul dvs. pentru a vă informa cu privire la utilizarea cookie-urilor, astfel
                &icirc;nc&acirc;t să puteți decide de la caz la caz dacă să acceptați sau să respingeți un cookie.
                &Icirc;n mod alternativ, browser-ul dvs. poate fi configurat să accepte automat cookie-urile &icirc;n
                anumite condiții sau să le respingă &icirc;ntotdeauna sau să șterge automat cookie-urile la &icirc;nchiderea
                browser-ului. Dezactivarea modulelor cookie poate limita funcționalitatea acestui site web.</p>
            <p>Cookie-urile care sunt necesare pentru a permite comunicațiile electronice sau pentru a oferi anumite
                funcții pe care doriți să le utilizați (cum ar fi coșul de cumpărături) sunt stocate &icirc;n
                conformitate cu prevederile art. 6 alin.1 lit. f) din GDPR, conform cărora prelucrarea este legală numai
                dacă şi &icirc;n măsura &icirc;n care este necesară &icirc;n scopul intereselor legitime urmărite de
                operator sau de o parte terţă. Prin urmare, operatorul acestui website are un interes legitim &icirc;n
                stocarea anumitor cookie-uri, pentru a asigura o optimizare fără erori tehnice. Alte cookie-uri (cum ar
                fi, spre exemplu, cele utilizate pentru analizarea comportamentului dvs. de navigare) sunt de asemenea
                stocate şi vor fi tratate separat &icirc;n acest document.</p>
            <p>
            <h3>Fişiere jurnal de pe server</h3></p>
            <p>Providerul acestui site colectează şi stochează &icirc;n mod automat informaţiile pe care browser-ul dvs.
                le transmite automat către noi prin intermediul fişierelor-jurnal. Acestea sunt:</p>
            <ul>
                <li>Tipul şi versiunea de browser</li>
                <li>Sistemul de operare folosit</li>
                <li>URL-ul paginii care a generat inițial solicitarea pentru afișarea paginii sau obiectului curent
                    (Referrer URL)
                </li>
                <li>Numele de gazdă al computerului care accesează</li>
                <li>Date temporale privind accesarea server-ului</li>
                <li>Adresa IP</li>
            </ul>
            <p>Temeiul legal pentru prelucrarea unor astfel de date este reprezentat de art. 6 alin. 1 lit. b) GDPR,
                care permite prelucrarea de date atunci c&acirc;nd este necesară pentru executarea unui contract la care
                persoana vizată este parte sau pentru a face demersuri, la cererea persoanei vizate, &icirc;nainte de
                &icirc;ncheierea unui contract.</p>
            <p>
            <h3>Formular de contact</h3></p>
            <p>&Icirc;n cazul &icirc;n care ne trimiteți &icirc;ntrebări prin intermediul formularului de contact, vom
                colecta datele introduse &icirc;n formular, inclusiv datele de contact pe care le furnizați, pentru a
                răspunde &icirc;ntrebărilor dvs. și a altora ulterioare. Nu transmitem aceste informații fără
                permisiunea dvs. Prin urmare, vom prelucra toate datele pe care le introduceți &icirc;n formularul de
                contact numai cu consimțăm&acirc;ntul dvs. [&icirc;n conformitate cu prevederile art. 6 alin. 1 lit. a)
                GDPR1]. Puteți să vă revocați oric&acirc;nd acordul, un e-mail informal &icirc;n acest sens fiind
                suficient. Datele prelucrate &icirc;nainte de a primi solicitarea dvs. pot fi prelucrate &icirc;n mod
                legal. Vom păstra datele pe care le furnizați pe formularul de contact p&acirc;nă c&acirc;nd:</p>
            <ul>
                <li>solicitați ștergerea datelor;</li>
                <li>revocați consimțăm&acirc;ntul pentru stocarea acestora sau dacă&nbsp;</li>
                <li>scopul pentru stocarea acestuia nu mai este valabil.&nbsp;</li>
            </ul>
            <p>Orice dispoziții legale obligatorii, &icirc;n special cele referitoare la perioadele obligatorii de
                păstrare a datelor, nu sunt afectate de cele arătate mai sus.</p>
            <p>
            <h3>Contactare prin e-mail, telefon sau fax</h3></p>
            <p>Dacă ne contactați prin e-mail, telefon sau fax, solicitarea dvs., inclusiv toate datele personale pe
                care le veţi furniza vor fi stocate și prelucrate de noi &icirc;n scopul soluţionării cererii
                dumneavoastră, &icirc;n baza consimţăm&acirc;ntului exprimat de dumneavoastră.</p>
            <p>Prin urmare, vom prelucra toate datele pe care le furnizaţi &icirc;n temeiul următoarelor prevederi
                legale din cuprinsul GDPR, respectiv:</p>
            <ul>
                <li>numai cu consimțăm&acirc;ntul dvs. - &icirc;n conformitate cu prevederile art. 6 alin. 1 lit. a)
                    GDPR
                </li>
                <li>pentru executarea unui contract sau &icirc;n etapa precontractuală - &icirc;n conformitate cu
                    prevederile art. 6 alin. 1 lit. b) GDPR
                </li>
                <li>pentru &icirc;ndeplinirea scopului şi interesului legitim urmărit de noi, respectiv acela de
                    prelucrare eficientă a cererilor trimise de dvs. - &icirc;n conformitate cu prevederile art. 6 alin.
                    1 lit. f) GDPR.
                </li>
            </ul>
            <p>Vom păstra datele pe care le furnizați &icirc;n acest mod p&acirc;nă c&acirc;nd:</p>
            <ul>
                <li>solicitați ștergerea datelor;</li>
                <li>revocați consimțăm&acirc;ntul pentru stocarea acestora sau dacă&nbsp;</li>
                <li>scopul pentru stocarea acestuia nu mai este valabil, &icirc;n toate situaţiile cu excepţia
                    perioadelor obligatorii de păstrare a datelor.
                </li>
            </ul>
            <p>
            <h3>Înregistrarea pe site</h3></p>
            <p>Vă puteţi &icirc;nregistra pe acest website pentru a accesa funcţii şi servicii adiţionale oferite de
                compania noastră. &Icirc;n acest sens, datele introduse de dvs. vor fi utilizate şi prelucrate cu scopul
                folosirii respectivului serviciu sau funcţii pentru care v-aţi &icirc;nregistrat. Datele obligatorii
                solicitate la &icirc;nregistrare trebuie furnizate de către dvs. &icirc;n &icirc;ntregime, &icirc;n caz
                contrar operaţiunea de &icirc;nregistrare urm&acirc;nd a fi respinsă.</p>
            <p>Pentru a vă informa despre modificări importante, cum ar fi cele din sfera site-ului nostru sau despre
                schimbările tehnice, vom folosi adresa de email specificată de dvs. la momentul &icirc;nregistrării.</p>
            <p>Prelucrarea datelor cu caracter personal, furnizate &icirc;n procedura de &icirc;nregistrare, se face
                doar cu consimţăm&acirc;ntul dvs. şi cu respectarea dispoziţiilor art. 6 alin. 1 lit. a) GDPR. Puteți să
                vă revocați oric&acirc;nd acordul, un e-mail informal &icirc;n acest sens fiind suficient. Vom continua
                să stocăm datele colectate &icirc;n timpul &icirc;nregistrării at&acirc;t timp c&acirc;t veţi răm&acirc;ne
                &icirc;nregistrat pe acest website, &icirc;nsă perioadele obligatorii de stocare răm&acirc;n valabile şi
                vor fi respectate.</p>
            <p>
            <h2>Scopul prelucrării datele colectate</h2></p>
            <p>O parte din datele colectate pe acest site sunt utilizate pentru:</p>
            <p></p>
            <ul>

                <li>Funcţionarea optimă și optimizarea acestui site (statistic şi analitic) - Ne dorim &icirc;n
                    permanență să vă oferim cea mai bună experiență pe site-ul nostru, motiv pentru care putem colecta
                    și utiliza anumite informații &icirc;n legătură cu gradul de satisfacţie pe care l-aţi avut pe
                    durata navigării pe acest site, vă putem invita să completați chestionare de sugestii sau altele
                    asemenea.
                </li>
            </ul>
            <p></p>
            <p>Prelucrarea datelor cu caracter personal se realizează &icirc;n conformitate cu prevederile
                Regulamentului General privind Protecția Datelor, av&acirc;nd la bază at&acirc;t consimțăm&acirc;ntul
                persoanei vizate, c&acirc;t și rațiuni de executare conformă a contractelor sau de realizare a
                intereselor legitime ale operatorului (cu excepţia cazului &icirc;n care prevalează interesele sau
                drepturile şi libertăţile fundamentale ale persoanei vizate, care necesită protejarea datelor cu
                caracter personal, &icirc;n special atunci c&acirc;nd persoana vizată este un copil).</p>
            <p>
            <h2>Drepturile utilizatorilor</h2></p>
            <p>Drepturile dumneavoastră privind datele cu caracter personal şi mijloacele de exercitare a acestora sunt:
                Dreptul de informare, Dreptul de acces, Dreptul la rectificare, Dreptul la ştergerea datelor, Dreptul la
                restricţionarea prelucrării, Dreptul la portabilitatea datelor, Dreptul la opoziţie, Dreptul de a nu
                face obiectul unei decizii bazate exclusiv pe prelucrarea automată a datelor, Dreptul de a depune pl&acirc;ngere
                și de a vă adresa instanțelor judecătorești, Dreptul de retragere a consimțăm&acirc;ntului.</p>
            <ul>
                <li><strong>Dreptul de informare</strong> - puteți solicita informații privind activitățile de
                    prelucrare a datelor dvs. personale, privind identitatea operatorului și a reprezentantului acestuia
                    sau cu privire la destinatarii datelor dvs.;
                </li>
                <li><strong>Dreptul de acces</strong> &ndash; puteţi obţine din partea operatorului o confirmare că se
                    prelucrează sau nu date cu caracter personal care vă privesc şi, &icirc;n caz afirmativ, acces la
                    datele respective şi la următoarele informaţii : scopurile prelucrării; categoriile de date cu
                    caracter personal vizate; destinatarii sau categoriile de destinatari cărora datele cu caracter
                    personal le-au fost sau urmează să le fie divulgate, &icirc;n special destinatari din ţări terţe sau
                    organizaţii internaţionale ; acolo unde este posibil, perioada pentru care se preconizează că vor fi
                    stocate datele cu caracter personal sau, dacă acest lucru nu este posibil, criteriile utilizate
                    pentru a stabili această perioadă ; dreptul de a solicita operatorului rectificarea sau ştergerea
                    datelor cu caracter personal ori restricţionarea prelucrării datelor cu caracter personal sau
                    dreptul de a se opune prelucrării etc.
                </li>
                <li><strong>Dreptul la rectificare</strong> - puteți rectifica datele personale inexacte sau le puteți
                    completa;
                </li>
                <li><strong>Dreptul la ştergerea datelor</strong> - puteți obține ștergerea datelor, &icirc;n cazul
                    &icirc;n care prelucrarea acestora nu a fost legală sau &icirc;n alte cazuri prevăzute de lege;
                </li>
                <li><strong>Dreptul la restricţionarea prelucrării</strong> - puteți solicita restricționarea
                    prelucrării &icirc;n cazul &icirc;n care contestați exactitatea datelor, precum şi &icirc;n alte
                    cazuri prevăzute de lege;
                </li>
                <li><strong>Dreptul la portabilitatea datelor</strong> - puteți primi, &icirc;n anumite condiții, datele
                    personale pe care ni le-ați furnizat, &icirc;ntr-un format care poate fi citit automat sau puteți
                    solicita ca respectivele date să fie transmise altui operator
                </li>
                <li><strong>Dreptul la opoziţie</strong> - vă puteți opune &icirc;n special, prelucrărilor de date care
                    se &icirc;ntemeiază pe interesul legitim al operatorului;
                </li>
                <li><strong>Dreptul de a nu face obiectul unei decizii bazate exclusiv pe prelucrarea automată a
                        datelor</strong> - puteți cere și obține intervenția umană cu privire la respectiva prelucrare
                    sau vă puteți exprima propriul punct de vedere cu privire la acest tip de prelucrare;
                </li>
                <li><strong>Dreptul de a depune pl&acirc;ngere și de a vă adresa instanțelor judecătorești</strong> -
                    puteți depune pl&acirc;ngere față de modalitatea de prelucrare a datelor personale la Autoritatea
                    Națională de Supraveghere a Prelucrării Datelor cu Caracter Personal și / sau vă puteți adresa
                    instanțelor judecătorești pentru respectarea drepturilor dvs.;
                </li>
                <li><strong>Dreptul de retragere a consimțăm&acirc;ntului</strong> &ndash; &icirc;n cazurile &icirc;n
                    care prelucrarea se &icirc;ntemeiază pe consimțăm&acirc;ntul dvs., vi-l puteți retrage oric&acirc;nd.
                    Retragerea consimțăm&acirc;ntului va avea efecte doar pentru viitor, prelucrarea efectuată anterior
                    retragerii răm&acirc;n&acirc;nd &icirc;n continuare valabilă.
                </li>
            </ul>
            <p>
            <h2>Obligațiile operatorului de date</h2>
            <h3>Găzduire/Hosting</h3></p>
            <p>Datele cu caracter personal &icirc;nregistrate pe acest website sunt stocate pe serverele noastre
                proprii. Prelucrarea datelor furnizate și stocate respectă următoarele prevederi legale:</p>
            <ul>
                <li>art. 6 alin. 1 lit. a) GDPR - prelucrarea datelor cu caracter personal se realizează av&acirc;nd la
                    bază consimțăm&acirc;ntul dvs., obținut ulterior unei corecte și complete informări;
                </li>
                <li>art. 6 alin. 1 lit. f) GDPR - prelucrarea datelor se realizează &icirc;n scopul intereselor legitime
                    urmărite de noi.
                </li>
            </ul>
            <p>
            <h3>Criptarea datelor</h3></p>
            <p>Acest site utilizează criptare SSL din raţiuni de securitate şi pentru protecţia transmiterii
                informaţiilor confidenţiale. Această criptare poate fi recunoscută de dvs. după fereastra de blocare (&bdquo;lock
                icon&rdquo;) care apare &icirc;n bara browser-ului şi prin schimbarea din http:// &icirc;n https:// a
                adresei browser-ului respectiv. Odată activată criptarea de acest tip, datele transmise sau transferate
                nu vor putea fi văzute de terţi.</p>
            <p>Conform GDPR, &icirc;n cazul &icirc;n care &icirc;ncălcarea securităţii datelor cu caracter personal este
                susceptibilă să genereze un risc ridicat pentru drepturile şi libertăţile dvs., operatorul acestui
                website vă va informa, fără &icirc;nt&acirc;rzieri nejustificate, cu privire la această &icirc;ncălcare,
                dacă nu devin incidente prevederile completatoare din acelaşi Regulament (art. 34 alin. 3).</p>
            <p>
            <h3>Responsabilul cu protecția datelor</h3></p>
            <p>Nefiind aplicabile prevederile GDPR (art. 37 alin. 1 - potrivit căruia Operatorul şi persoana &icirc;mputernicită
                de operator desemnează un responsabil cu protecţia datelor ori de c&acirc;te ori:</p>
            <ol style="list-style-type: lower-alpha;">
                <li>prelucrarea este efectuată de o autoritate sau un organism public, cu excepţia instanţelor care
                    acţionează &icirc;n exerciţiul funcţiei lor jurisdicţionale;
                </li>
                <li>activităţile principale ale operatorului sau ale persoanei &icirc;mputernicite de operator constau
                    &icirc;n operaţiuni de prelucrare care, prin natura, domeniul de aplicare şi/sau scopurile lor,
                    necesită o monitorizare periodică şi sistematică a persoanelor vizate pe scară largă; sau
                </li>
                <li>activităţile principale ale operatorului sau ale persoanei &icirc;mputernicite de operator constau
                    &icirc;n prelucrarea pe scară largă a unor categorii speciale de date &icirc;n temeiul articolului 9
                    sau a unor date cu caracter personal referitoare la condamnări penale şi infracţiuni, menţionată la
                    articolul 10)
                </li>
            </ol>
            <p>Privind obligativitatea numirii unui Responsabil cu protecţia datelor, pentru orice informaţii sau
                lămuriri privind funcţionarea acestui website, vă rugăm să ne contactaţi la următoarele date:</p>
            <ul>
                <li>Nume: Bb4k</li>
                <li>E-mail: dismonsters1311@yahoo.ro</li>
                <li>Tel: 696969696</li>
                <li>Fax: 696969696</li>
                <li>Adresă de corespondenţă: Splaiul Lalelelor</li>
            </ul>
            <p>
            <h3>Evidențele activităților de prelucrare</h3></p>
            <p>Conform Regulamentului GDPR, operatorul sau persoana &icirc;mputernicită de operator ar trebui să
                păstreze, pe o perioadă rezonabilă, evidenţe ale activităţilor de prelucrare aflate &icirc;n
                responsabilitatea sa. Astfel, aceste evidențe vor cuprinde toate următoarele informații:</p>
            <ul>
                <li>numele şi datele de contact ale operatorului&nbsp;</li>
                <li>scopurile prelucrării;</li>
                <li>descrierea categoriilor de persoane vizate şi a categoriilor de date cu caracter personal;</li>
                <li>categoriile de destinatari cărora le-au fost sau le vor fi divulgate datele cu caracter personal;
                </li>
                <li>dacă este cazul/posibil:
                    <ul>
                        <li>transferurile de date cu caracter personal</li>
                        <li>termenele-limită preconizate pentru ştergerea diferitelor categorii de date</li>
                        <li>o descriere generală a măsurilor tehnice şi organizatorice de securitate</li>
                    </ul>
                </li>
            </ul>
            <p>Obligația detaliată anterior nu se aplică unei &icirc;ntreprinderi sau organizaţii cu mai puţin de 250 de
                angajaţi, cu excepţia cazului &icirc;n care prelucrarea pe care o efectuează este susceptibilă să
                genereze un risc pentru drepturile şi libertăţile persoanelor vizate, prelucrarea nu este ocazională sau
                prelucrarea include categorii speciale de date sau date cu caracter personal referitoare la condamnări
                penale şi infracţiuni.</p>
            <h3>Măsuri tehnice și organizatorice adecvate</h3>
            <p>Av&acirc;nd &icirc;n vedere stadiul actual al tehnologiei, contextul şi scopurile prelucrării, precum şi
                riscurile pentru drepturile şi libertăţile persoanelor fizice, operatorul pune &icirc;n aplicare măsuri
                tehnice şi organizatorice adecvate pentru a asigura că, &icirc;n mod implicit, sunt prelucrate numai
                date cu caracter personal care sunt necesare pentru fiecare scop specific al prelucrării.</p>
            <h3>Notificarea autorității de supraveghere &icirc;n cazul &icirc;ncălării securității datelor cu caracter
                personal</h3>
            <p>Conform art. 33 alin. 1 din GDPR, &icirc;n cazul &icirc;n care are loc o &icirc;ncălcare a securităţii
                datelor cu caracter personal, vom notifica acest lucru Autorității Naționale de Supraveghere a
                Prelucrării Datelor cu Caracter Personal fără &icirc;nt&acirc;rzieri nejustificate şi, dacă este
                posibil, &icirc;n termen de cel mult 72 de ore de la data la care am luat cunoştinţă de aceasta, cu
                excepţia cazului &icirc;n care este puţin probabil să genereze un risc pentru drepturile şi libertăţile
                persoanelor fizice.</p>
            <h3>Informarea persoanei vizate cu privire la &icirc;ncălcarea securității datelor datelor cu caracter
                personal</h3>
            <p>Raportat la prevederile art. 34 din GDPR, &icirc;n cazul &icirc;n care &icirc;ncălcarea securităţii
                datelor cu caracter personal este susceptibilă să genereze un risc ridicat pentru drepturile şi
                libertăţile persoanelor fizice, vom informa persoana vizată fără &icirc;nt&acirc;rzieri nejustificate cu
                privire la această &icirc;ncălcare, cu excepția situațiilor &icirc;n care:</p>
            <ul>
                <li>au fost implementate măsuri de protecţie tehnice şi organizatorice adecvate, iar aceste măsuri au
                    fost aplicate &icirc;n cazul datelor cu caracter personal afectate de &icirc;ncălcarea securităţii
                    datelor cu caracter personal, &icirc;n special măsuri prin care se asigură că datele cu caracter
                    personal devin neinteligibile oricărei persoane care nu este autorizată să le acceseze, cum ar fi
                    criptarea;
                </li>
                <li>au fost luate măsuri ulterioare prin care se asigură că riscul ridicat pentru drepturile şi
                    libertăţile persoanelor vizate menţionat anterior nu mai este susceptibil să se materializeze;
                </li>
                <li>ar necesita un efort disproporţionat. &Icirc;n această situaţie, se efectuează &icirc;n loc o
                    informare publică sau se ia o măsură similară prin care persoanele vizate sunt informate &icirc;ntr-un
                    mod la fel de eficace.
                </li>
            </ul>
            <p>
            <h2>Plugins și Tools</h2></p>
            <h3>Youtube</h3>
            <p>Site-ul nostru utilizează plugin-urile platformei YouTube, care este operat de Google. Operatorul
                site-ului web este YouTube, LLC, Cherry Ave 901, San Bruno, CA 94066, SUA.</p>
            <p>Dacă vizitați o pagină de pe site-ul nostru &icirc;n care a fost integrat un plug-in YouTube, va fi
                creată o conexiune cu serverele YouTube. &Icirc;n consecință, serverul YouTube va fi anunțat, care
                dintre paginile au fost vizitate de dumneavoastră</p>
            <p>&Icirc;n plus, YouTube va putea să introducă şi cookie-uri diferite, cu ajutorul cărora se vor putea
                obține informații despre vizitatorii site-ului nostru. Printre altele, aceste informații vor fi
                utilizate pentru a genera statistici video cu scopul de a &icirc;mbunătăți ușurința &icirc;n utilizarea
                site-ului și de a preveni &icirc;ncercările de fraudare.&nbsp;</p>
            <p>Dacă sunteți conectat (ă) la contul dvs. YouTube &icirc;n timp ce vizitați site-ul nostru, permiteți
                YouTube să aloce direct modelele dvs. de navigare &icirc;n profilul dvs. personal. Aveți opțiunea de a
                preveni acest lucru prin deconectarea de pe contul YouTube.</p>
            <p>Utilizarea YouTube se bazează pe interesul nostru de a vă prezenta conținutul online &icirc;ntr-o manieră
                atrăgătoare. Conform art. 6 alin. 1 lit. f) GDPR, acesta este un interes legitim.</p>
            <p>Av&acirc;nd &icirc;n vedere Hotăr&acirc;rea din 16 iulie 2020 <em>(pronunțată &icirc;n cauza C-311/18 -
                    Data Protection Commissioner/Facebook Ireland Limited, Maximillian Schrems)</em>, Curtea Europeană
                de Justiţie a statuat că protecţia oferită de Scutul de confidențialitate EU &ndash; US (Privacy Shield)
                nu are un caracter adecvat. Prin urmare, transmiterea datelor cu caracter personal către SUA şi alte
                ţări din afara Spaţiului Economic European (EEA &ndash; European Economic Area) ar trebui să aibă la
                bază Clauzele Contractuale Standard (SCC &ndash; Standard Contractual Clauses) ale Comisiei Europene.
            </p>
            <p>Pentru mai multe informații despre modul &icirc;n care YouTube gestionează datele despre utilizatori,
                consultați Politica de confidențialitate YouTube privind datele de la:&nbsp;<a
                        href="https://policies.google.com/privacy?hl=en" target="_blank" rel="noopener">https://policies.google.com/privacy?hl=en</a>.
            </p>
            <p></p>
            <h3>Google Web Fonts</h3>
            <p>Acest site utilizează Fonturile Web furnizate de Google pentru a asigura utilizarea uniformă a fonturilor
                pe acest site.&nbsp;</p>
            <p>C&acirc;nd accesați o pagină de pe acest website, browserul dvs. va &icirc;ncărca, ca urmare a stabilirii
                unei conexiuni cu serverele Google, fonturile web necesare afișării corecte a textului și a fonturilor.
                Astfel,&nbsp;</p>
            <p>Utilizarea Google Web Fonts se bazează pe art. 6 alin. 1 lit. f) GDPR, exist&acirc;nd un interes legitim
                &icirc;n prezentarea uniformă a fontului pe acest website. Dacă există un consimţăm&acirc;nt exprimat
                &icirc;n acest sens (de exemplu, consimțăm&acirc;ntul la arhivarea cookie-urilor), datele vor fi
                procesate exclusiv &icirc;n baza art. 6 alin. 1 lit. a) GDPR.</p>
            <p>Pentru mai multe informații despre modul &icirc;n care Google Web Fonts se ocupă de datele
                utilizatorului, consultați Politica de confidențialitate disponibilă la: <a
                        href="https://policies.google.com/privacy?hl=en" target="_blank" rel="noopener">https://policies.google.com/privacy?hl=en</a>.
            </p>
            <p>
            <h2>Chat Online</h2>
            <h3>Platforme Chat Online</h3></p>
            <h3>WhatsApp</h3>
            <p>Prin intermediul WhatsApp, asigurăm o comunicare eficientă cu clienții noștri. Pentru cei care locuiesc
                &icirc;ntr-o țară din Spațiul Economic European (care include Uniunea Europeană) și orice altă țară sau
                teritoriu inclus (denumită &icirc;n mod colectiv "Regiunea Europeană"), Whatsapp este operat de către
                WhatsApp Ireland Limited, cu sediul &icirc;n 4 Grand Canal Square, Grand Canal Harbour, Dublin 2,
                Irlanda.</p>
            <p>Conform politicii WhatsApp, care poate fi consultată și analizată aici: <a
                        href="https://www.whatsapp.com/legal/#privacy-policy">https://www.whatsapp.com/legal/#privacy-policy</a>,
                Whatsapp Ltd. fiind și parte din Companiile Facebook, prin intermediul acestui serviciu se colectează și
                prelucrează date cu caracter personal cu respectarea principiilor de securitate și confidențialitate
                aplicabile la nivel european (&icirc;n special, RGPD) sau la nivel internațional (dacă vorbim de
                servicii puse la dispoziție de Whatsapp Inc. -&nbsp; EU-U.S. Privacy Shield Framework and the Swiss-U.S.
                Privacy Shield Framework).</p>
            <p>Prin intermediul Whastapp se prelucrează:</p>
            <ul>
                <li>date furnizate chiar de către utilizatori (cum ar fi cele legate de contul de utilizatori - numărul
                    de telefon, nume de profil, fotografia - conexiunile utilizatorului. &Icirc;n ceea ce privește
                    mesajele transmise, acestea nu sunt stocate pe serverele WhatsApp, cu excepția celor care nu putut
                    fi trimise (spre exemplu, pentru un utilizator offline) și care sunt stocate pentru o perioadă de 30
                    de zile &icirc;nainte de a fi șterse.
                </li>
                <li>date colectate &icirc;n mod automat (informații privind status-ul utilizatorului &ldquo;last seen
                    status&rdquo;, preferințe ale utilizatorului stocate prin intermediul cookies, adresa IP, informații
                    legate de browser, unele informații legate de tranzacții și plăți - pentru termenii și condițiile
                    privind plățile, recomandăm să consultați <a
                            href="https://www.whatsapp.com/legal/?eea=0#payments-in">https://www.whatsapp.com/legal/?eea=0#payments-in</a>).
                </li>
            </ul>
            <p>Temeiul legal pentru prelucrarea datelor cu caracter personal prin intermediul Whatsapp este reprezentat
                de art. 6 lit. f) din Regulament, baz&acirc;ndu-ne pe interesul nostru legitim pentru legalitatea
                prelucrării.</p>
            <p>Av&acirc;nd &icirc;n vedere Hotăr&acirc;rea din 16 iulie 2020 <em>(pronunțată &icirc;n cauza C-311/18 -
                    Data Protection Commissioner/Facebook Ireland Limited, Maximillian Schrems)</em>, Curtea Europeană
                de Justiţie a statuat că protecţia oferită de Scutul de confidențialitate EU &ndash; US (Privacy Shield)
                nu are un caracter adecvat.</p>
            <p>Prin urmare, transmiterea datelor cu caracter personal către SUA şi alte ţări din afara Spaţiului
                Economic European (EEA &ndash; European Economic Area) se bazează pe Clauzele Contractuale Standard (SCC
                &ndash; Standard Contractual Clauses) ale Comisiei Europene. Comisia a emis două seturi de Clauze
                Contractuale Standard pentru transferurile de date de la operatorii de date din UE către operatorii de
                date stabiliți &icirc;n afara UE sau a Spațiului Economic European (SEE). De asemenea, a emis şi un set
                de clauze contractuale pentru transferurile de date de la operatorii din UE către procesatorii stabiliți
                &icirc;n afara UE sau SEE. Pentru mai multe informaţii privind aceste Clauze, recomandăm să accesaţi <a
                        href="https://ec.europa.eu/info/law/law-topic/data-protection/international-dimension-data-protection/standard-contractual-clauses-scc_ro"
                        target="_blank" rel="noopener">https://ec.europa.eu/info/law/law-topic/data-protection/international-dimension-data-protection/standard-contractual-clauses-scc_ro</a>.
            </p>
            <p>WhatsApp foloseşte Clauze Contractuale Standard drept garanţie adecvată privind protecţia datelor,
                &icirc;n acord cu nivelul de protecţie garantat prin GDPR, conform informaţiilor disponibile aici <a
                        href="https://www.whatsapp.com/legal/#privacy-policy-our-global-operations" target="_blank"
                        rel="noopener">https://www.whatsapp.com/legal/#privacy-policy-our-global-operations</a></p>
            <p>
            <h2>E-Commerce și Modalități de Plată</h2>
            <h3>E-commerce</h3></p>
            <p>Prelucrăm date cu caracter personal at&acirc;t c&acirc;t este necesar pentru a &icirc;ncheia sau modifica
                un raport contractual cu societatea noastră/societatea care administrează acest site, respect&acirc;nd
                prevederile art. 6 alin. 1 lit. b) din GDPR1. Astfel, prelucrăm (colectăm, &icirc;nregistrăm,
                structurăm, stocăm, modificăm, extragem etc.) datele cu caracter personal din momentul accesării acestui
                website numai cu scopul facilitării accesului la produsele sau serviciile noastre sau/şi pentru a
                &icirc;ncasa contravaloarea acestora.</p>
            <p>
            <h3>Plăți online</h3></p>
            <p>Conform Regulamentului,&nbsp;<em>&ldquo;&icirc;n vederea menţinerii securităţii şi a prevenirii
                    prelucrărilor care &icirc;ncalcă prezentul regulament, operatorul sau persoana &icirc;mputernicită
                    de operator ar trebui să evalueze riscurile inerente prelucrării şi să implementeze măsuri pentru
                    atenuarea acestor riscuri, cum ar fi criptarea&rdquo;</em>&nbsp;- considerentul 83. Astfel că
                disponibilitatea de criptare puternică și eficientă este o necesitate pentru garantarea protecției,
                confidențialității și integrității datelor cu caracter personal.</p>
            <p>&Icirc;n timpul procesului de cumpărare a produselor comercializate prin acest website, datele
                dumneavoastră bancare sunt &icirc;n siguranță!&nbsp;</p>
            <p>Folosim metode sigure de criptare, datele fiind transmise prin conexiuni de &icirc;naltă securitate către
                unitățile financiare. Astfel că datele furnizate de dumneavoastră pentru efectuarea de plăți nu sunt
                transmise către terți și nu răm&acirc;n salvate &icirc;n baze de date.</p>
            <p></p>
            <h3>PayU</h3>
            <p>PayU, cu sediul &icirc;n Clădirea Opera Center, Str. Dr. Nicolae Staicovici, nr. 2, etaj 6, Sector 5,
                București, Rom&acirc;nia, respectă caracterul privat și securitatea informației furnizate de către
                dumneavoastră atunci c&acirc;nd utilizați acest website.</p>
            <p>PayU poate colecta de la dumneavoastră date cu caracter personal, dar numai cu acordul dumneavoastră și
                dacă le furnizați voluntar.&nbsp;</p>
            <p>Colectarea de date cu caracter personal pe Site-ul secure.PayU.ro implică:&nbsp;</p>
            <p>Formularele de plată online prezentate dumneavoastră atunci c&acirc;nd efectuați o tranzacție eCommerce
                pe unul din website-urile comercianților web care folosesc soluția PayU vor trebui completate cu toate
                informațiile solicitate și marcate a fi obligatorii, inclusiv datele cu caracter personal.&nbsp;</p>
            <p>Datele cu caracter personal colectate pe Site-ul secure.payu.ro sunt folosite &icirc;n următoarele
                scopuri:&nbsp;&nbsp;</p>
            <ul>
                <li>facturării produselor/serviciilor comandate de către dumneavoastră;</li>
                <li>livrării acestora;&nbsp;</li>
                <li>efectuării plății online;&nbsp;&nbsp;</li>
                <li>asigurării securității tranzacției eCommerce/plății online prin aplicarea de filtre antifraudă.&nbsp;</li>
            </ul>
            <p>Datele cu caracter personal vor putea fi dezvăluite fără consimțăm&acirc;ntul dumneavoastră &icirc;n caz
                de litigii/dispute privind fraudele la plată către următorii destinatari: Băncile implicate &icirc;n
                plățile online, Organismele Internaționale de Carduri și Furnizori de servicii/produse, respectiv
                conform prevederilor Legii 677/2001, către instituțiile abilitate.&nbsp;</p>
            <p>Prin continuarea tranzacției e-Commerce din cadrul paginii de plată, prin intermediul Site-ului
                secure.payu.ro, vă exprimați expres consimțăm&acirc;ntul cu privire la colectarea și prelucrarea datelor
                cu caracter personal &icirc;n sistemul de evidență informatizat de către PayU.&nbsp;</p>
            <p>PayU colectează informații și le prelucrează &icirc;n date statistice despre ce pagini accesați &icirc;n
                interiorul Site-urilor, inclusiv adresa IP de la care Site-ul este vizitat. PayU poate folosi &icirc;n
                cadrul Site-urilor cookie-uri. Un cookie este un fișier pe care serverele le trimit computerului
                dumneavoastră și pe care computerul dumneavoastră &icirc;l trimite &icirc;napoi de fiecare dată c&acirc;nd
                accesați o pagină pe Site-ul nostru.&nbsp;</p>
            <p>Cookie-urile sunt folosite &icirc;n următoarele scopuri:&nbsp;&nbsp;</p>
            <ul>
                <li>Pentru a &icirc;mbunătăți securitatea accesului.&nbsp;</li>
                <li>Pentru a &icirc;mbunătăți uzabilitatea și a vă furniza un serviciu c&acirc;t mai bun.&nbsp;</li>
            </ul>
            <p>Majoritatea browserelor de internet acceptă automat cookie-urile. Cu toate acestea, puteți solicita
                browserului utilizat, prin editarea opțiunilor acestuia, să oprească acceptarea de cookie-uri și să vă
                avertizeze &icirc;nainte de a accepta un cookie din site-urile pe care le vizitați. Dacă decideți să nu
                ne acceptați cookie-urile, veți putea totuși să accesați secțiuni ale Site-ului nostru care sunt
                disponibile publicului general, dar nu veți putea vizualiza anumite informații și caracteristici de pe
                Site-ul nostru, concepute pentru a &icirc;mbunătăți experiența dumneavoastră pe Site-ul
                nostru.&nbsp;</p>
            <p>PayU poate dezvălui datele cu caracter personal către terți dacă acest lucru este cerut de lege sau
                &icirc;n cazurile de bună credință &icirc;n care aceste acțiuni sunt necesare pentru: (a) conformarea la
                rigorile legii; (b) protejarea și apărarea drepturilor de proprietate ale PayU și ale site-urilor sale
                web,&nbsp; (c) acționarea&nbsp; circumstanțe de&nbsp; pentru protejarea siguranței personale&nbsp;
                angajaților, utilizatorilor de produse&nbsp; servicii,&nbsp; &nbsp;persoanelor publice.</p>
            <p>Pentru mai multe detalii, puteţi accesa: <a href="https://www.payu.ro/politica-de-confidentialitate"
                                                           target="_blank" rel="noopener">https://www.payu.ro/politica-de-confidentialitate</a>&nbsp;
            </p>
            <p>
            <h2>Concluzie</h2></p>
            <p>Prezenta politică privind prelucrarea datelor cu caracter personal este generată &icirc;n conformitate cu
                prevederile Regulamentului nr. 679/2016 privind protecţia persoanelor fizice &icirc;n ceea ce priveşte
                prelucrarea datelor cu caracter personal şi privind libera circulaţie a acestor date, dar şi cu
                celelalte dispoziţii legale naţionale aplicabile.</p>
            <p>Ne rezervăm dreptul de a face orice completări sau modificări la această politică. Recomandăm consultarea
                Politicii &icirc;n mod regulat pentru o informare corectă și actualizată &icirc;n ceea ce privește
                prelucrarea datelor personale.</p>
            <p>Pentru mai multe detalii cu privire la prezenta Politică GDPR, precum şi pentru exercitarea oricărui
                drept dintre cele menţionate anterior, poate fi trimisă o notificare scrisă la datele de contact
                indicate mai sus.</p>
            <p>
                <%- include("../fragmente/footer.ejs") %>
        </main>

    </div>
</div>
</body>