<!DOCTYPE html>
<html lang="ro">
<head>
    <meta name="description" content="Bb4k Merch - Logout">
    <meta name="keywords" content="Bb4k, Merch, logout">
    <title>Bb4k Merch - Logout</title>
    <%- include("../fragmente/head") %>
</head>
<div class="container">

    <%- include("../fragmente/back-to-top-button.ejs") %>

    <div class="page-padding">
        <%- include("../fragmente/header.ejs") %>
        <main style="margin-top: 30%">
            Ai fost delogat!
        </main>

        <footer>
            <%- include('../fragmente/footer') %>
        </footer>
    </div>
</div>

</body>
</html>